
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(197, 239, 255);
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(197, 239, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  #signin-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  #signin-form {
    margin-top: 20px;
  }
  

  label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
  }
  
 
  input[type=text], input[type=password] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type=submit] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  